
# Install Jenkins
- name: Install Java
  become: true
  apt:
    name: openjdk-17-jdk
    state: present

- name: Add Jenkinks repository
  become: true
  get_url:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
    dest: /usr/share/keyrings/jenkins-keyring.asc

- name: Add Jenkins apt repository
  become: true
  copy:
    dest: /etc/apt/sources.list.d/jenkins.list
    content: "deb [signed-by=/usr/share/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian-stable binary/"

- name: Install Jenkinks
  become: true
  apt:
    name: jenkins
    state: present

- name: Start service jenkins
  become: true
  service:
    name: jenkins
    state: started

- name: Enable service jenkins
  service:
    name: jenkins
    enabled: yes

- name: Allow traffic to port 8080
  become: true
  ufw:
    rule: allow
    port: '8080'

- name: Reload ufw rules
  become: true
  command: ufw reload