# Install Jenkins
- name: Install Java
  become: true
  apt:
    name: openjdk-21-jdk
    state: present

- name: Add Jenkinks repository
  become: true
  get_url:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
    dest: /usr/share/keyrings/jenkins-keyring.asc

- name: Add Jenkins apt repository
  become: true
  copy:
    dest: /etc/apt/sources.list.d/jenkins.list
    content: "deb [signed-by=/usr/share/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian-stable binary/"

- name: Install Jenkins
  become: true
  apt:
    name: jenkins
    state: present

- name: Start service jenkins
  become: true
  service:
    name: jenkins
    state: started


- name: Ensure Jenkins JAVA_OPTS are set
  lineinfile:
    path: /etc/default/jenkins
    regexp: '^JAVA_OPTS='
    line: "{{ jenkins_java_opts }}"
    create: yes
  become: true


- name: Allow traffic to port 8080
  become: true
  ufw:
    rule: allow
    port: '8080'
    state: reloaded



- name: Download Jenkins Plugin Manager CLI
  become: true
  get_url:
    url: https://github.com/jenkinsci/plugin-installation-manager-tool/releases/download/2.13.2/jenkins-plugin-manager-2.13.2.jar
    dest: /usr/share/jenkins/jenkins-plugin-manager.jar
    mode: '0755'



- name: Install Jenkins plugins using Plugin Manager CLI
  command: >
    java -jar /usr/share/jenkins/jenkins-plugin-manager.jar \
      --war /usr/share/java/jenkins.war \
      --plugin-download-directory /var/lib/jenkins/plugins/ \
      --plugins docker-plugin git job-dsl configuration-as-code cloudbees-folder ws-cleanup role-strategy credentials
  become: true

- name: Create CasC config folder
  file:
    path: "{{ jenkins_casc_config }}"
    state: directory

- name: Copy CasC file
  copy:
    src: ../files/configuration.yaml
    dest: "{{ jenkins_casc_config }}"


- name: Copy Groovy file
  copy:
    src: ../files/Job_dsl.groovy
    dest: "{{ jenkins_casc_config }}"
  environment:
    CASC_JENKINS_CONFIG: "{{ jenkins_casc_config }}"


- name: Start & enable service jenkins
  become: true
  service:
    name: jenkins
    state: started
    enabled: true