# Purge Jenkins and remove all config/data files
#- name: Stop Jenkins if running
#  become: true
#  service:
#    name: jenkins
#    state: stopped
#    enabled: false
#  ignore_errors: true
#
#- name: Purge Jenkins package
#  become: true
#  apt:
#    name: jenkins
#    state: absent
#    purge: yes
#    autoremove: yes
#
#- name: Remove leftover Jenkins files
#  become: true
#  file:
#    path: "{{ item }}"
#    state: absent
#  loop:
#    - /etc/default/jenkins
#    - /var/lib/jenkins
#    - /var/log/jenkins
#    - /usr/share/jenkins
# ---------------------------------------

- name: Install Java
  become: true
  apt:
    name: openjdk-21-jdk
    state: present

- name: Add Jenkinks repository
  become: true
  get_url:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
    dest: /usr/share/keyrings/jenkins-keyring.asc

- name: Add Jenkins apt repository
  become: true
  copy:
    dest: /etc/apt/sources.list.d/jenkins.list
    content: "deb [signed-by=/usr/share/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian-stable binary/"

- name: Install Jenkins
  become: true
  apt:
    name: jenkins
    state: present

- name: Enable ufw & authorize ssh port
  become: true
  ufw:
    rule: allow
    port: '22'
    state: enabled

- name: Allow traffic trough port 8080
  become: true
  ufw:
    rule: allow
    port: '8080'
    state: enabled


- name: Download Jenkins Plugin Manager CLI
  become: true
  command: >
    wget -O /usr/share/jenkins/jenkins-plugin-manager.jar
    https://github.com/jenkinsci/plugin-installation-manager-tool/releases/download/2.13.2/jenkins-plugin-manager-2.13.2.jar

- name: Install Jenkins plugins using Plugin Manager CLI
  command: >
    java -jar /usr/share/jenkins/jenkins-plugin-manager.jar \
      --war /usr/share/java/jenkins.war \
      --plugin-download-directory /var/lib/jenkins/plugins/ \
      --plugins docker-plugin git job-dsl configuration-as-code cloudbees-folder ws-cleanup role-strategy credentials
  become: true

- name: Create CasC config folder
  file:
    path: "{{ jenkins_casc_config }}"
    state: directory

- name: Copy CasC file
  copy:
    src: ../files/configuration.yaml
    dest: "{{ jenkins_casc_config }}"
    owner: jenkins
    group: jenkins
    mode: "0644"
  become: true

- name: Copy Groovy file
  copy:
    src: ../files/Job_dsl.groovy
    dest: "{{ jenkins_casc_config }}"
    owner: jenkins
    group: jenkins
    mode: "0644"
  become: true

- name: Ensure Jenkins uses /etc/default/jenkins in systemd
  block:
    - name: Create systemd override directory
      file:
        path: /etc/systemd/system/jenkins.service.d
        state: directory
      become: true

    - name: Create systemd override to source /etc/default/jenkins
      copy:
        dest: /etc/systemd/system/jenkins.service.d/override.conf
        content: |
          [Service]
          ExecStart=
          Environment="{{ jenkins_java_vars }}"
          Environment="{{ jenkins_java_args }}"
          Environment="{{ jenkins_casc_env_var }}"
          ExecStart=/usr/bin/java $JAVA_ARGS -jar /usr/share/java/jenkins.war $JENKINS_ARGS
          User=jenkins
          Group=jenkins
      notify: Reload systemd and start Jenkins
      become: true
